[Unit]
Description=Minecraft %i Server
After=network.target

[Service]
Type=forking
User=minecraft
Group=minecraft
WorkingDirectory=/srv/minecraft/%i
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/run/screen /srv/minecraft/common /srv/minecraft/%i
PrivateTmp=true
#NoNewPrivileges=true
ExecStart=/srv/minecraft/mc.sh start %i
PIDFile=/srv/minecraft/%i/mc.pid
#ExecStop=/srv/minecraft/mc.sh stop %i
SuccessExitStatus=143

[Install]
Alias=minecraft@%i.service
